* {
    margin: 0;
}

body {
    background: url(../images/bacg.jpg) center no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;
    width: 700px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 24px;
    padding-top: 70px;
    border-radius: 40px;
}

.wrapper img {
    width: 400px;
}

.image {
    margin: 50px 8px 0 0;
}

.size {
    margin-top: 44px;
    color: #2579d8;
    margin-bottom: 5px;
}

.image td {
    width: 16px;
    text-align: center;
    border: 2px solid #2579d8;
    color: #2579d8;
    font-weight: 700;
}

.content {
    margin-top: 14px;
    width: 300px;
}

.subtitle {
    color: #2579d8;
    text-transform: uppercase;
}

.title {
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 12px;
}

.price {
    display: block;
    margin-top: 12px;
    color: #2579d8;
    font-size: 28px;
    font-weight: 700;
}

.description {
    margin-top: 20px;
    font-weight: 700;
    line-height: 1.6em;
}

.card-btn {
    margin-top: 12px;
    width: 100%;
    background: #2579d8;
    font-size: 16px;
    font-weight: 700;
    color: #ffffffda;
    padding: 14px 0;
    border-radius: 10px;
    border: none;
}